@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-3 mb-4">Welcome to ErbaLife</h1>
    <p class="lead mb-4">Explore and learn about <a href="https://learn.microsoft.com/aspnet/core" class="btn btn-link">building Web apps with ASP.NET Core</a>.</p>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title">Why Choose Us?</h2>
                    <p class="card-text">
                        Discover the benefits of our online fitness coaching platform. We offer personalized training plans, expert guidance, and community support to help you achieve your fitness goals.
                    </p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
