@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <p class="lead">
                Use this page to detail your site's privacy policy. Here you can include information on how user data is collected, used, and protected.
            </p>
            <p>
                At ERBALİFE , we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your information. By using our site, you agree to the collection and use of information in accordance with this policy.
            </p>
            <p>
                <strong>Information Collection and Use:</strong> We collect various types of information for various purposes to provide and improve our service to you. This includes personal data such as your name, email address, and usage data.
            </p>
            <p>
                <strong>Data Usage:</strong> We use the collected data to provide and maintain our service, notify you about changes to our service, provide customer support, gather analysis or valuable information so that we can improve our service, and monitor the usage of our service.
            </p>
            <p>
                <strong>Data Security:</strong> The security of your data is important to us, but remember that no method of transmission over the Internet
